html {
	height: 100%;
	overflow-y: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.screen {
  display: flex;
  flex-direction: column;

  background-image: url("images/background.png");
  background-repeat: no-repeat;

  width: 1024px;
  height: 654px;
}

.screen__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 65px;

  background-color: rgba(255, 255, 255, 0.02);

  box-shadow: 0px 15px 90px 0px rgba(0,0,0,0.25);
}

.screen__header > img {
  width: 100px;
  height: 30px;

  margin-left: 30px;

  align-self: center;
}

.screen__header > div {
  color: white;
  font-size: 50px;
  margin-right: 30px;
}

.screen__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.last-operations__header {
  display: flex;
  justify-content: space-between;
  z-index: 1;

  grid-row: 1;
  grid-column: 1 / 4;
  justify-self: center;

  margin-top: 30px;
  padding: 13px;

  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
}

.currency-block {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  background-blend-mode: multiply;
  background-image: url("images/aflag.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  width: 180px;
  height: 110px;

  margin-right: 100px;
}

.currency-block__icon {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.currence-block__amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  vertical-align: center;

  font-family: "Calibri";
  font-size: 40px;
  color: white;
}

.last-operations__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-left: 20px;
}

.last-operations__title>span {
  margin-bottom: 20px;

  color: white;
  font-family: "Calibri";
  font-size: 30px;
  letter-spacing: 0.8px;
  font-weight: lighter;
}

.last-operations__beauty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.last-operations__beauty span {
  width: 90px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.last-operations__beauty img {
  transform: rotate(180deg);
  width: 30px;
  height: 17px;
}

.current-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  position: relative;

  background-color: white;

  border-radius: 5px;
  padding: 10px;

  width: 160px;
  height: 90px;

  margin-left: 100px;
}

.current-card__chip {
  position: absolute;
  top: 37px;
  left: 18px;

  width: 45px;
  height: 40px;
}

.current-card__bank {
  width: 90px;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 265px;

  margin-top: 40px;
  margin-bottom: 40px;

  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.15);

  color: white;
  font-family: "Calibri";
  font-size: 30px;
  letter-spacing: 0.8px;
  font-weight: lighter;
  text-decoration: none;
}

.card__number {
  display: block;
  margin-top: 40px;

  color: #45748d;
  font-weight: bold;
  font-family: "Calibri";
  font-size: 18px;
}

.conclusion {
  grid-row: 2;
  grid-column: 1 / 2;
  justify-self: end;

  margin-left: 20px;
}

.replenishment {
  grid-row: 3;
  grid-column: 1 / 2;
  justify-self: end;

  margin-left: 20px;
}

.contribution {
  grid-row: 2;
  grid-column: 3 / 4;
  justify-self: start;

  margin-right: 20px;
}

.transfer {
  grid-row: 3;
  grid-column: 3 / 4;
  justify-self: start;

  margin-right: 20px;
}

.last-operations__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;

  grid-row: 2 / 4;
  grid-column: 2 / 3;

  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.25);
  border-radius: 0 0 5px 5px;

  margin-left: 20px;
  margin-right: 20px;

  padding: 10px;
  padding-top: 0;
}

.last-operations__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  padding: 10px;
  padding-top: 5px;
  margin-bottom: 5px;

  width: 290px;
  background-color: rgba(0, 0, 0, 0.10);
  border-radius: 5px;
}

.last-operations__card__img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  align-self: center;

  width: 30px;
  height: 40px;
}

.last-operations__sum {
  grid-column: 2 / 3;
  grid-row: 1;

  justify-self: center;

  font-family: "Calibri";
  font-size: 30px;
  letter-spacing: 0.8px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.last-operations__time {
  grid-column: 3 / 4;
  grid-row: 1;

  align-self: end;
  justify-self: end;

  color: white;
  font-family: "Calibri";
  font-size: 18px;
  font-weight: 500;
}

.last-operations__name {
  grid-column: 2 / 4;
  grid-row: 2;
  justify-self: start;
  margin-left: -25px;

  color: white;
  font-family: "Calibri";
  font-size: 14px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.owner-name {
  color: #45748d;
  font-weight: bold;
  font-family: "Calibri";
  font-size: 18px;

  position: relative;
  top: -45px;
}

.screen__pin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  position: relative;

  width: 270px;
  height: 480px;

  margin-top: 30px;
  margin-left: 270px;

  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.25);
}

.screen__pin-panel__title {
  margin-top: 30px;
  margin-bottom: 25px;

  color: var(--text);
  font-family: "no_name";
  font-size: 28px;
}

.arrow {
  display: block;

  width: 30px;
  height: 15px;

  margin-bottom: 60px;
}

.screen__input {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-column-gap: 8px;

  margin-bottom: 80px;
}

.screen__cell {
  width: 30px;
  height: 40px;

  padding: 0;

  border: none;
  outline: none;
  background: none;

  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);

  text-align: center;
  color: transparent;
  text-shadow: 0 0 0 #cbe1df;
  font-family: "no_name";
  font-size: 28px;
  font-weight: 300;
}

.screen__buttons {
  display: grid;
  width: 150px;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 15px;
}

.screen__button {
  color: var(--text);
  font-family: "no_name";
  font-size: 28px;
  font-weight: 300;
}

.screen__button:hover,
.screen__button:focus,
.screen__button:active {
  cursor: pointer;
}

.screen__button__column--1 {
  justify-self: start;
}

.screen__button__column--2 {
  justify-self: center;
}

.screen__button__column--3 {
  justify-self: end;
}

#screen__button--0,
#screen__button--00 {
  grid-column: 2 / 3;
}

#screen__button__arrow,
#screen__button__arrow1 {
  grid-column: 3 / 4;
  width: 19px;
  height: 19px;
  align-self: center;
}

.screen__forgot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;

  margin-top: 80px;
  padding-top: 30px;

  width: 225px;
  height: 345px;

  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.05);
}

.screen__forgot__title {
  color: var(--text);
  font-family: "no_name";
  font-size: 22px;
}

.screen__forgot__phone {
  margin-top: 10px;
  height: 125px;
}

.screen__forgot__text {
  max-width: 185px;
  margin-top: 20px;

  text-align: center;
  color: var(--text);
  font-family: "Calibri";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.line--white {
  width: 100%;
  height: 1px;
  background-color: white;
}

.screen__forgot .line--white {
  margin-top: 30px;
}

.screen__forgot__button {
  margin-top: 20px;

  width: 150px;
  height: 40px;

  outline: none;
  border: none;

  border-radius: 20px;

  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.05);

  text-align: center;
  color: white;
  font-family: "Calibri";
  font-size: 18px;
  letter-spacing: 1px;
}

.fs-25 {
  font-size: 25px;
}

.fs-40 {
  font-size: 40px;
}

.wrong,
.not-enough {
  display: none;
  position: absolute;
  top: 119px;
  left: 42px;

  text-align: center;
  color: #660000;
  font-family: no_name;
  font-size: 18px;
  font-weight: bold;
}

.wrong.open {
  display: block;
}

.not-enough.open {
  display: block;
}

.locked {
  display: none;
  position: absolute;
  top: 119px;
  left: 43px;

  text-align: center;
  color: #660000;
  font-family: no_name;
  font-size: 18px;
  font-weight: bold;
}

.locked.open {
  display: block;
}

.red-b {
  border-bottom: #660000;
  text-shadow: 0 0 0 #660000;
  border-bottom: 2px solid rgba(120, 0, 0, 0.65);
}

.red-s {
  box-shadow: 0px 0px 75px 0px rgba(120,0,0,0.5);
}

.screen__ok {
  color: var(--text);
  font-family: "no_name";
  font-size: 26px;
  margin-left: -3px;
  margin-bottom: 1px;
  vertical-align: bottom;
  align-self: end;

  cursor: pointer;
}

@font-face {
    font-family: "no_name";
    src: url(fonts/no-name.otf);
}

#pinpad__body {
  display: grid;
}

#pinpad__body.pinpadOff {
  display: none;
}

#ATM__body {
  display: none;
}

#ATM__body.atmOn {
  display: grid;
}

#money__body {
	display: none;
}

#money__body.moneyBodyOn {
	display: grid;
}

#money__body.screen__body {
	grid-template-columns: auto;
	justify-content: center;
}

#money__body .screen__pin-panel {
	margin-left: 0;
}

#money__body .screen__input {
	grid-template-columns: 1fr;
}

#money__body .screen__cell {
	width: 165px;
}
